<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/css/meucss/nossocss.css">
    <title>Document</title>
</head>
<body>
  <header>
    <div>

      <nav>
        <nav class="navbar navbar-expand-lg text-primary" id="menu">
            <div class="container-fluid">
              <img width="50px" height="50px" src="../../static/img/griftith.jpeg" alt="img">
              <a class="navbar-brand" href="http://127.0.0.1:8000/index/">YellowStone-animes</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000/base/">Animes</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Musicas</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Redes Sociais
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="https://www.github.com/ShiroBH" target="_blank">Brunno Henrique</a></li>
                      <li><a class="dropdown-item" href="https://github.com/SandraB17" target="_blank">Alessandra</a></li>
                      <li><a class="dropdown-item" href="https://github.com/Igor30G" target="_blank">Igor Moura</a></li>
                      <li><a class="dropdown-item" href="https://github.com/wellingtonhenrique1999" target="_blank">Weligton Henrique</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item">Nada Mais</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                  </li>
                </ul>
                
              </div>
            </div>
            <a class="login"href="#">Login</a>
            <img class="login" src="../../static/img/person_FILL0_wght400_GRAD0_opsz48.svg" alt="login">
          </nav>
    </nav>
    </div>
    <p>YellowStone-animes...</p>
    
  </header>
  <main>
    <div class="headerMain">
      <p>Favoritos</p>
    </div>
    <div class="headerMains">
      <input type="search" placeholder="Search" aria-label="Search">
    </div>
    <h2>Brunno Henrique - Animes, Personagens e openings favoritas</h2>
    <div class="cardPrimeiro">
      <img id="image1" width="300px" height="200px" src="../../static/img/guts.jpeg" alt="Avatar">
      <div class="container">
        <h4 id="nomeHeroi"><b>Personagem</b></h4>
        <p id="discrisaoHeroi">O protagonista de beserker, guts era uma pessoa simples e que nunca teve um momento de paz na sua vida ate conhecer grifith depois os depois se tornaram bons amigos ate que ele foi traido pelo demonio no coração de grifith</p>
      </div>
    </div>
    <div class="cardSegundo">
      <img id="image2" width="300px" height="200px" src="../../static/img/griftith.jpeg" alt="Avatar">
      <div class="container">
        <h4 id="nomeAntHeroi"><b>Peresonagem</b></h4>
        <p id="discrisaoAntHeroi">Antagonista de beserker, ele era uma pessoa que muitos adoravam, ele era destemino, corajoso, e fazia de tudo para realizar o seu sonho tudo mesmo. O grifith e um bom vilao mas ele e uma pessima pessoa(infelizmente não posso usar as palavras que gostaria), ele se resume a uma palavra maldade.</p>
      </div>
    </div>
    <div class="cardUltimo">
      <img id="image3" width="300px" height="200px" src="../../static/img/maito gai.jpeg" alt="Avatar">
      <div class="container">
        <h4 id="nomeVilao"><b>Personagem</b></h4>
        <p id="discrisaoVilao"> Não tenho nada a falar so assista o video.</p>
        <iframe style="width:250px; height:160px" src="https://www.youtube.com/embed/i_NDEiPtnp8"></iframe>
      </div>
    </div >
    <div class="cardPrimeiro">
      <img id="image1" width="300px" height="200px" src="../../static/img/stark.jpeg" alt="Avatar">
      <div class="container">
        <h4 id="nomeHeroi"><b>Personagem</b></h4>
        <p id="discrisaoHeroi">Stark e um personagem do anime de bleach, ele era o ser mais forte da sua especie e o corpo dele emanava uma energia mostruosa capaz de matar outros seres e era isso que ocorria toda vez que ele tentava se aproximar então ele se isolou mas ele mas ele odiava ficar sozinho(tinha medo) entao dividiu sua alma em duas partes para nao se sentir mais só.</p>
      </div>
    </div>
    <div class="cardSegundo">

        <iframe style="width:300px; height:160px" src="https://www.youtube.com/embed/JBqxVX_LXvk"></iframe>
      <div class="container">
        <h4 id="nomeAntHeroi"><b>Opening</b></h4>
        <p id="discrisaoAntHeroi">Musica muito boa so isso mesmo.</p>
      </div>
    </div>
    <div class="cardUltimo">
        <iframe style="width:300px; height:160px" src="https://www.youtube.com/embed/4evV8Fr5A8U"></iframe>
      <div class="container">
        <h4 id="nomeVilao"><b>Opening</b></h4>
        <p id="discrisaoVilao">Minha favorita, gosto muito dela</p>
      </div>
    </div >
    <h2>Igor Moura - Animes, Personagens e openings favoritas</h2>
    <div class="cardPrimeiro">
        <img id="image1" width="300px" height="200px" src="../../static/img/goku1.jpeg" alt="Avatar">
        <div class="container">
          <h4 id="nomeHeroi"><b>Personagem</b></h4>
          <p id="discrisaoHeroi">Goku: ícone dos animes, a história que aborda muito a superação e a disciplina.</p>
        </div>
      </div>
      <div class="cardSegundo">
        
        <iframe style="width:300px; height:160px" src="https://www.youtube.com/embed/3n3itDDgmQQ"></iframe>
        <div class="container">
          <h4 id="nomeAntHeroi"><b>Opening</b></h4>
          <p id="discrisaoAntHeroi">Sorriso Resplandecente (Dragon Ball GT): Música mais romântica da série e que trás uma boa sensação de calma e tranquilidade</p>
        </div>
      </div>
      <div class="cardUltimo">
        <iframe style="width:300px; height:160px" src="https://www.youtube.com/embed/ylnrKJFWDAg"></iframe>
        <div class="container">
          <h4 id="nomeVilao"><b>Opening</b></h4>
          <p id="discrisaoVilao">Blue Bird (Naruto Shippuden): Traz uma levesa e ao mesmo tempo animação</p>
        </div>
      </div >
      <div class="cardPrimeiro">
        <img id="image1" width="300px" height="200px" src="../../static/img/gohan.jpeg" alt="Avatar">
        <div class="container">
          <h4 id="nomeHeroi"><b>Personagem</b></h4>
          <p id="discrisaoHeroi">Gohan: Motivo: cresceu um um mundo de muitas mortes, obrigado a lutar desde a sua infância, atualmente abandonou as lutas, mesmo entrando em combates de vez em quando</p>
        </div>
      </div>
      <div class="cardSegundo">
        <img id="image2" width="300px" height="200px" src="../../static/img/naruto3.jpeg" alt="Avatar">
        <div class="container">
          <h4 id="nomeAntHeroi"><b>Pesonagem</b></h4>
          <p id="discrisaoAntHeroi">Naruto: Motivo: tem uma história triste e que abordou a sua superação acreditando em si mesmo, trazendo inspiração para todos ao seu redor. </p>
        </div>
      </div>
      <div class="cardUltimo">
        <iframe style="width:300px; height:160px" src="https://www.youtube.com/embed/RiQrbSuLrsU"></iframe>
        <div class="container">
          <h4 id="nomeVilao"><b>Opening</b></h4>
          <p id="discrisaoVilao"> Haruka Kanata (Naruto): 
            Apresenta bem os personagens e toda a trama inicial, bom pra levantar a autoestima
            </p>
        </div>
      </div >
    <h2>Wellington Herique - Animes, Personagens e openings favoritas</h2>
    <div class="cardPrimeiro">
        <img id="image1" width="300px" height="200px" src="../../static/img/kira.jpeg" alt="Avatar">
        <div class="container">
          <h4 id="nomeHeroi"><b>Personagem</b></h4>
          <p id="discrisaoHeroi">Light Yagami é o personagem principal do anime/mangá "Death Note".
            É um personagem complexo que é difícil de categorizar como completamente bom ou mau. Enquanto ele começa a matar criminosos, ele é motivado por um desejo de criar um mundo melhor, mas suas ações rapidamente se tornam cada vez mais extremas e cruéis, fazendo com que ele seja cada vez mais visto como um vilão.</p>
        </div>
      </div>
      <div class="cardSegundo">
        <img id="image2" width="300px" height="200px" src="../../static/img/JOJO.jpeg" alt="Avatar">
        <div class="container">
          <h4 id="nomeAntHeroi"><b>Anime</b></h4>
          <p id="discrisaoAntHeroi">"Jojo's Bizarre Adventure Parte 3: Stardust Crusaders" é um anime/mangá de ação e aventura que segue um grupo de heróis conhecidos como Joestar, que viajam pelo mundo para derrotar um antigo inimigo da família, Dio Brando. A abertura do anime, intitulada "Standust Crusaders", apresenta a música "Stand Proud" e mostra os personagens principais, cada um com seus próprios poderes sobrenaturais chamados "Stands". A abertura é animada de forma dinâmica e empolgante, mostrando cenas de luta e ação que capturam bem o espírito da série.</p>
        </div>
      </div>
      <div class="cardUltimo">
        <iframe style="width:300px; height:160px" src="https://www.youtube.com/embed/dM7x1PNZDo0"></iframe>
        <div class="container">
          <h4 id="nomeVilao"><b>Opening</b></h4>
          <p id="discrisaoVilao">abertura 11 de "One Piece", intitulada "We Are!", é uma música empolgante e vibrante que apresenta muitos dos personagens e sagas memoráveis da série. A música captura bem o espírito de aventura e camaradagem de "One Piece", tornando-a significativa para os fãs da série. A abertura é do final da saga de trilher bark e vai até metade do arco de sabaody.</p>
        </div>
      </div >
      <div class="cardPrimeiro">
        <img id="image1" width="300px" height="200px" src="../../static/img/ulquiorra.jpeg" alt="Avatar">
        <div class="container">
          <h4 id="nomeHeroi"><b>Personagem</b></h4>
          <p id="discrisaoHeroi">Ulquiorra é um personagem complexo e misterioso, cuja personalidade fria e calculista contrasta com sua curiosidade e fascínio pela natureza humana
            Apesar de sua falta de emoção, Ulquiorra é curioso e intrigado com a natureza humana. Ele acredita que os humanos são seres fracos, mas se fascina com suas emoções e sua capacidade de amar. Ele mostra interesse em Orihime Inoue, a quem ele sequestra, e faz perguntas sobre suas emoções e sua crença no amor.</p>
        </div>
      </div>
      <div class="cardSegundo">
        <img id="image2" width="300px" height="200px" src="../../static/img/inosuke.jpeg" alt="Avatar">
        <div class="container">
          <h4 id="nomeAntHeroi"><b>Pesonagem</b></h4>
          <p id="discrisaoAntHeroi">Inosuke Hashibira é um personagem do anime e mangá "Demon Slayer". Ele é um dos personagens principais do elenco e é conhecido por sua personalidade bestial, extravagante e imprudente. Ele é extremamente autoconfiante e tem um forte desejo de provar sua força e habilidade. No entanto, apesar de sua personalidade ousada e agressiva, Inosuke tem um lado mais suave e vulnerável que é revelado ao longo da história.</p>
        </div>
      </div>
      <div class="cardUltimo">
        <img id="image3" width="300px" height="200px" src="../../static/img/eric.jpeg" alt="Avatar">
        <div class="container">
          <h4 id="nomeVilao"><b>Personagem</b></h4>
          <p id="discrisaoVilao"> Edward Elric é o personagem principal do anime e mangá "Fullmetal Alchemist". Ele é um alquimista habilidoso e determinado que busca uma forma de recuperar os membros do corpo que ele perdeu em uma tentativa fracassada de trazer sua mãe de volta à vida. Sua personalidade é teimosa e impetuosa, mas também é inteligente e estratégico em batalha. Ele é muito protetor com as pessoas que ama e fica extremamente irritado quando elas são ameaçadas.</p>
        </div>
      </div >
</body>
</html>