<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../static/css/bootstrap.css">
  <link rel="stylesheet" href="../../static/css/meucss/nossocss.css">
  <title>YellowStone - Animes</title>
</head>
<body>
  <header>
    <div>

      <nav>
        <nav class="navbar navbar-expand-lg text-primary" id="menu">
            <div class="container-fluid">
              <img width="50px" height="50px" src="../../static/img/griftith.jpeg" alt="img">
              <a class="navbar-brand" href="http://127.0.0.1:8000/index/">YellowStone-animes</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000/base/">Animes</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Musicas</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Redes Sociais
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="https://www.github.com/ShiroBH" target="_blank">Brunno Henrique</a></li>
                      <li><a class="dropdown-item" href="https://github.com/SandraB17" target="_blank">Alessandra</a></li>
                      <li><a class="dropdown-item" href="https://github.com/Igor30G" target="_blank">Igor Moura</a></li>
                      <li><a class="dropdown-item" href="https://github.com/wellingtonhenrique1999" target="_blank">Weligton Henrique</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item">Nada Mais</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                  </li>
                </ul>
                
              </div>
            </div>
            <a class="login"href="#">Login</a>
            <img class="login" src="../../static/img/person_FILL0_wght400_GRAD0_opsz48.svg" alt="login">
          </nav>
    </nav>
    </div>
    <p>anime...</p>
    
  </header>
  <main>
    <div class="headerMain">
      <p>Lançamentos</p>
    </div>
    <div class="headerMains">
      <input type="search" placeholder="Search" aria-label="Search">
    </div>
    <div>

      <iframe id="video" src="https://www.youtube.com/embed/l2dQ5J05uss" ></iframe>
    </div>
    <div class="cardPrimeiro">
      <img id="image1" width="300px" height="200px" src="../../static/img/CDZheroi.jpeg" alt="Avatar">
      <div class="container">
        <h4 id="nomeHeroi"><b>Seiya de Pégaso</b></h4>
        <p id="discrisaoHeroi">(天馬星座の星矢 Pegasasu no Seiya?) é o titular e principal protagonista do Mangá/Anime Saint Seiya do autor Musami Kurumada e o Cavaleiro de Bronze da constelação de Pégaso do século XX, incumbido com a missão de proteger a deusa Atena nas Guerras Santas no século XX. Caracterizado principalmente por nunca desistir de lutar em qualquer situação, por mais impossível ou difícil que possa parecer, ele também é a reencarnação do Cavaleiro de Bronze Tenma de Pégaso e do Primeiro Pégaso, o primeiro homem a ferir o Deus Hades nos tempos mitológicos.</p>
      </div>
    </div>
    <div class="cardSegundo">
      <img id="image2" width="300px" height="200px" src="../../static/img/CDZantheroi.jpeg" alt="Avatar">
      <div class="container">
        <h4 id="nomeAntHeroi"><b>Saga de Gêmeos</b></h4>
        <p id="discrisaoAntHeroi">(双子座ジェミニのサガ Jemini no Saga?) é o irmão gêmeo mais velho de Kanon, pedestinado a se tonar o Cavaleiro de Ouro de Gêmeos do século XX, que antigamente era tido como o próximo sucessor do Grande Mestre, tendo todas as características necessárias para o posto – humanidade, habilidade e força física. Dado como desaparecido há treze anos, no mangá, ele esteve escondido por todo esse tempo sob a máscara do Grande Mestre, depois de assassiná-lo e tomar seu posto como governante do Santuário. No anime, ele toma o lugar do irmão do Grande Mestre, Ares. Seu plano era matar Atena e dominar o mundo. Na verdade, Saga tinha dupla personalidade, oscilando entre extremos do bem e do mal. Dentro dele, esses opostos estavam sempre lutando entre si. Depois de ter seu coração purificado, ele mesmo tira sua própria vida.</p>
      </div>
    </div>
    <div class="cardUltimo">
      <img id="image3" width="300px" height="200px" src="../../static/img/vilaoCDZ.jpeg" alt="Avatar">
      <div class="container">
        <h4 id="nomeVilao"><b>Apolo</b></h4>
        <p id="discrisaoVilao"> (アポロン, Yuuhi no kami Aporon) é um dos dozes deuses olímpicos, filho de Zeus e irmão gêmeo mais velho de Ártemis. Apolo é um deus sério, seco e sem muito apego aos afetos. Um Deus perfeito que não é regido por sentimentos. Segue as ideias perenes das divindades baseado em subjugação humana às forças que eles não conseguem entender, e defende o fato de que questionar divindades ou o simples fato de pensar não é permitido, porque um ser perfeito não pode ser posto em prova.</p>
      </div>
    </div >
    <div class="imagens">

      <img width="200px" height="100px" class="imgPrimeira" src="../../static/img/cdz.jpeg" alt="img">
      <img width="200px" height="100px" class="imgSegunda" src="../../static/img/DBGT.jpeg" alt="img">
      <img width="200px" height="100px" class="imgTerceira" src="../../static/img/naruto.jpeg" alt="img">


      <div class="titulos">
        <p class="imgPrimeira">Os Cavaleiros do Zodiaco</p>
        <p class="imgSegunda">Dragon Ball GT</p>
        <p class="imgTerceira">Naruto</p>
      </div>
  </div>
    <div>
      <button onclick="trocaAnimeCDZ()"class="buttonPrimeira">1</button>
      <button onclick="trocaAnimeDBGT()" class="buttonSegunda">2</button>
      <button onclick="trocaAnimeNaruto()" class="buttonTerceira">3</button>
    </div>
  </main>
  <footer>
    <img width="50px" height="50px" src="../../static/img/griftith.jpeg" alt="logo">
    <p>Beserker Corporation</p>
    <div style="margin-left:80%;" >
      <a style="display: block;" class="linkFooter"href="http://">link</a>
      <a style="display: block;"href="http://">link</a>
      <a style="display: block;margin-bottom: 20%;"href="http://">link</a>
    </div>
    <div style="margin-left:45%; position: absolute; top: 1;">
      <img  class="contato"src="../../static/img/mail_FILL0_wght400_GRAD0_opsz48.svg" alt="email">
      <img src="../../static/img/person_FILL0_wght400_GRAD0_opsz48.svg" alt="git">
      <img src="../../static/img/contact_phone_FILL0_wght400_GRAD0_opsz48.svg" alt="celular">
    </div>
  </footer>
</body>
<script src="../../static/js/imagens.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
</html>
